.auth-page {
  padding-top: 109px;

  &__title {
    padding-bottom: 16px;
  }

  &__description {
    width: 100%;
    @include flexible(center, center, column);

    &-titles {
      width: inherit;
      padding-bottom: 32px;
      text-align: center;
    }

    &-icons {
      display: flex;
      flex-direction: row;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border: 1px solid $secondary-light-01-color;
    border-radius: 50%;
    @include flexible(center, center);
  }

  &__icon:last-child {
    margin-right: 0;
  }
}
