.subscription-page {
  padding-top: 63px;
  padding-bottom: 0;

  &__header {
    &-text {
      padding-right: 20px;
    }
  }

  &__slide {
    width: 100%;
    margin-bottom: 20px;
    @include flexible(center, center, column);

    &-image {
      width: 112px;
      height: 112px;
      margin-bottom: 24px;
      background-color: $secondary-light-01-color;
      border-radius: 15px;
    }

    &-title {
      padding-bottom: 16px;
    }

    &-icon {
      margin-right: 12px;
    }

    &-subtitle {
      width: 250px;
    }
  }

  &__description-wrapper {
    width: 200px;
    @include flexible($jc: flex-start, $fd: column);

    &-last {
      width: 260px;
    }
  }

  &__subtitle-wrapper {
    padding-bottom: 6px;
    @include flexible(center, center, row);
  }

  &__subtitle-wrapper:last-child {
    padding-bottom: 0;
  }

  &__button {
    width: 100%;
    height: 48px;
    padding: 0 20px;
    background-color: $secondary-light-01-color;
    border-radius: 10px;
    @include flexible(center, space-between);

    &-text {
      @include typography(16px, 400, 140%);
    }

    &-active {
      @include flexible(center, space-between);

      width: 100%;
      height: 48px;
      padding: 0 20px;
      background-color: transparent;
      border: 2px solid $primary-color;
      border-radius: 10px;
    }
  }

  &__footer {
    padding: 24px 20px;
  }
}

.swiper-slide {
  @include flexible(center, center, column);
}

.swiper-wrapper {
  height: 313px;
}
