// Main colors
$primary-color: #205eff;
$secondary-color: #2dd06e;
$danger-color: #eb5757;
$success-color: #16a750;

// Font colors
$gray-font-color: #6d7885;
$black-font-color: #111;

// White colors
$white-color: #fff;
$light-color: #ebebeb;

// Blue colors
$blue-light-color: #eaf1fd;
$blue-gray-color: #b7bcc9;

// Gray colors
$gray-light-color: #798ba5;
$gray-color: #ccc;
$gray-dark-color: #9b9b9b;

// Background colors
$bg-gray-color: #f4f4f4;
$bg-gray-light-color: #e7e7e7;

// Border colors
$border-light-gray-color: #dedede;
$border-gray-color: #c9c9c9;
