// Main colors
$primary-color: #d66689;

// Font colors
$black-light-font-color: #333;
$black-font-color: #232324;

// White colors
$white-color: #fff;

// Blue colors

// Gray colors

// Background colors

// Border colors
