// Primary colors
$primary-color: #d66589;

// Primary font colors
$primary-text-01-color: #333;

//--------------------------------------
// Secondary colors
$secondary-button-color: #eba4ba;
$secondary-success-color: #16a750;
$secondary-error-color: #e55a5a;

// Secondary light colors
$secondary-light-01-color: #f2f2f2;
$secondary-light-02-color: #d9d9d9;

// Secondary dark colors
$secondary-dark-01-color: #8c8c90;
$secondary-dark-02-color: #79787a;
$secondary-dark-03-color: #595959;

//--------------------------------------
// Font colors
$text-03-color: #fae8ee;

// White colors
$white-color: #fff;

// Grey colors
$grey-200-color: #dedede;
$grey-700-color: #79787a;
