@import 'colors';

:export {
  // Main colors

  // Font colors
  blackFont: $black-font-color;
  blackLightFont: $black-font-color;

  // White colors
  white: $white-color;

  // Blue colors

  // Gray colors
}
