@mixin flexible($ai: flex-start, $jc: flex-start, $fd: row, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin width($size, $min-size: $size, $max-size: $size) {
  width: $size;
  min-width: $min-size;
  max-width: $max-size;
}

@mixin height($size, $min-size: $size, $max-size: $size) {
  height: $size;
  min-height: $min-size;
  max-height: $max-size;
}

@mixin square($size, $radius: 0) {
  @include width($size);
  @include height($size);

  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin position($pos, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin invisible {
  position: absolute;
  z-index: -1;
  display: block;
  width: 0;
  height: 0;
  opacity: 0;
}

@mixin typography($fs: 16px, $fw: 400, $lh: 16px) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
